include README.rst
include LICENSE
include MANIFEST.in
include CHANGES
include python-pcaspy.spec
include setup.py
include pcaspy/pv.*
include pcaspy/channel.*
include pcaspy/*.i
include pcaspy/*.py
exclude pcaspy/cas.py
exclude pcaspy/*.dll
include example/*.py 
include example/simscope.adl
include example/simscope.opi
include example/test.as
include test/*.py
