include README
include LICENSE
include MANIFEST.in
include CHANGES
include setup.py
include pcaspy/pv.*
include pcaspy/channel.*
include pcaspy/*.i
include pcaspy/tools.py
include example/*.py example/simscope.adl
prune   example/pcaspy
include test/*.py
prune   test/pcaspy
